

<div class="listnewPage">
   
    
  <div class="container">

        <h1 class="new-text">直近のやることを入力しよう!</h1>

    <%= form_with model: @list, class: "new_list", local: true do |f| %>
      <% if @list.errors.any? %>
        <p class="text-danger">タイトルは1～255文字以内で入力してください</p>
      <% end %>
      <%= f.label :title %>
      <%= f.text_field :title, autofocus: true, class: "form-control listName", placeholder: "やることを入力" %>

      <%= f.label :explain %>
      <%= f.text_area :explain, class: "form-control listName", placeholder: "補足など（ある場合のみ）", rows: "2" %>    

  <div class="by-day">
      <%= f.label :終了目安  %>
      <%= f.date_field :day %>
  </div>
      
      <div class="text-center"><%= f.submit "作成", class: "submitBtn" %></div>
    <% end %>
  </div>
</div>
