<div class='container'>
    <%= form_with model: current_user, url: user_path, method: :put, class: 'registration-main', local: true do |f| %>

      <%= render 'devise/shared/error_messages', model: f.object %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", placeholder: "名前を入力してください" %>
      </div>
      <div class="form-group">
         <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", placeholder: "emailを入力してください" ,autocomplete: "email" %>
      </div>
      
      <div class="text-center">
        <%= f.submit "アカウントを編集", class: "btn submitBtn" %>
      </div>
    <% end %>
  </div>
</div>
